
body {
  background-image: url('./assets/pexels-notebg.jpg');
  
}

.app-container h1, .app-container h2 {
  color: white;
  text-align: center;
}

.app-container h1 {
  font-size: 3em;
}

.app-container h2 {
  font-size: 2.1em;
}

.overlay-container {
  border-radius: 6px;
  background: rgba(0,0,0,0.3);
  width: 50%;
  margin: 1em auto;
  padding: 0.2em;
}

.sources {
  color: white;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 24px;
  border-radius: 0.3rem;
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
  background: #ededed;
  max-width: 600px;
  height: 400px;
  transform: rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  margin: 3em auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.card:hover {
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.5);
}

.card.flip {
  --rotate-y: 180deg;
  background: lightbeige;
  background-repeat: no-repeat;
  background-size: cover;
}

.card .front, .card .back {
  position: absolute;
  backface-visibility: hidden;
}

.card .front {
  text-align: center;
}

.card .back {
  transform: rotateY(180deg);
  line-height: 1.4;
  margin: 0.6em;
  text-decoration: 2px underline lightsteelblue;
  height: 85%;
}

.card .back hr {
  border-color: red;
}

.card-header {
  text-align: center;
  color: white;
  font-size: 25px;
}

@media (max-width: 650px) {
  .card {
    max-width: 400px;
    height: 300px;
  }
  .card .back {
    font-size: medium;
  }
}
